.is-relative > .is-corner-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tile:hover > .is-swap {
    visibility: visible;
    opacity: 100%;
    transition: opacity 100ms ease-in 100ms;
}

.tile > .is-swap {
    visibility: hidden;
    opacity: 0;
}