body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .wrapper {
    height: 100%;
}

.buffer {
    height: 50px;
}

footer {
    background: #f8f8f8;
    position: sticky;
    bottom: 0;
}